dist: trusty
sudo: required
language: elixir
elixir:
  - 1.4.2
otp_release:
  - 19.3
addons:
  apt:
    packages:
    - graphviz

script:
  - MIX_ENV=test mix compile --warnings-as-errors
  - MIX_ENV=test mix credo --strict
  - MIX_ENV=test mix test
after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
